<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
        <link rel ="stylesheet" href ="css/app.css">
        <title> Shopping Cart</title>
    </head>
    <body>
        <header>
            <div></div>
            <nav>
                <h2>Shop Name</h2>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class = "cart">
                        <a href ="cart.html">
                            <ion-icon name ="basket"></ion-icon>Cart<span>0</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    </body>
</html>